
:root{
    --cor-preto: #000;
    --cor-verder: rgba(110, 140, 2, 1); /*#6E8C02*/
    --cor-rosa: rgba(255,101,132,1);
    --cor-roxo: rgba(47,46,65,1);
    --cor-cinza: rgba(242, 242, 242,1);
    --cor-branco: #fff;

    --fonte-principal: 'Open Sans', sans-serif;

    --fonte-tamanho-desktop-grande: calc(2vw + 1rem);
    --fonte-tamanho-desktop-pequno: calc(1vw + .5rem);
    --fonte-tamanho-desktop-menu: calc(.5vw + .5rem);

    --fonte-tamanho-mobile-grande: calc(1vw + 2rem);
    --fonte-tamanho-mobile-grande2: calc(1vw + 1.5rem);
    --fonte-tamanho-mobile-grande3: calc(1vw + 1rem);
    --fonte-tamanho-mobile-pequeno: calc(1vw + 1rem);
    --fonte-tamanho-mobile-pequeno2: calc(1vw + .8rem);
    --fonte-tamanho-mobile-menu: calc(.5vw + .7rem);

    --cor: #F2D543;
}

::selection{
    background-color: var(--cor-verder);
    color: var(--cor-branco);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    overflow-x: hidden;
    font-family: var(--fonte-principal);
    overflow-y: hidden;
}

html{
    overflow-y: visible;
}

body{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* FORMATAÇÃO DO MENU DE NAVEGAÇÃO (MOBILE)*/
    #menu #menu-navegacao{
        display: flex;
        flex-direction: row;
        height: 10vh;
        width: 100%;
        justify-content: space-between;
        background-color: var(--cor-cinza);
    }
        #menu-navegacao #menu-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 100%;
        }
            #menu-logo #logo-nimas{
                height: 100%;
            }
            #menu-logo .linha-vertical{
                width: 1.5px;
                height: 50%;
                background-color: var(--cor-roxo);
            }
            #menu-logo #logo-uff{
                height: 100%;
            }
        #menu-navegacao #menu-links{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            height: min-content;
            width: 35%;
            background-color: var(--cor-roxo);
            padding-top: 3rem;

            z-index: 1000;
            transition: right 300ms ease;
        }
            #menu-links a{
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;

                font-size: var(--fonte-tamanho-mobile-menu);
                
                letter-spacing: .1rem;
                color: var(--cor-rosa);
                position: relative;
                line-height: 10vh;
                width: 100%;
                height: 100%;
            }
                .over-sublinha::after{
                    content: '';
                    width:  100%;
                    height: 2px;
                    background-color: var(--cor-rosa);
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 300ms ease;
                }
                .over-sublinha:hover::after{
                    transform-origin: left;
                    transform: scaleX(1);
                }
        #menu-navegacao #menu-barras-mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            top: 2%;
            
            position: fixed;
            transition: right 300ms ease;
        }
            #menu-barras-mobile input[type="checkbox"]{
                display: none;
            }
            #menu-barras-mobile #barras{
                font-size: var(--fonte-tamanho-mobile-grande);
                transition: 
                    transform 300ms ease,
                    color 400ms ease;
            }
/*_________________________________________________________________*/
/* SECTION DISCOVERY (MOBILE) */
#discovery{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}
    #discovery .image-explan{
        display: flex;
        width: 90%;
        margin-left: 5%;
    }
        .image-explan img{
            margin: 0 auto;
            height: 100%;
        }
    #discovery #titulo-si{
        margin: 5% 5%;
        width: 90%;
    }
        #titulo-si h1{
            font-size: var(--fonte-tamanho-mobile-grande);
        }
        .sublinhado{
            height: 1.5px;
            width: 100%;
            background-color: var(--cor-rosa);
        }
        #titulo-si p{
            font-size: var(--fonte-tamanho-mobile-pequeno);
        }
        .call-to-action{
            margin: .5rem 0;
        }
            .botao-contato{
                background-color: transparent;
                border: 2px var(--cor-roxo) solid;
                border-radius: .2rem;
                padding: .4rem 0;
            }
                .botao-contato a{
                    padding: 1rem;
                    font-weight: 900;
                    background-color: transparent;
                    text-decoration: none;
                    color: var(--cor-roxo);
                    transition: 
                        background-color 200ms ease-in,
                        color 300ms ease-in;
                }
                .botao-contato a:hover,
                .botao-contato a:focus{
                    background-color: var(--cor-roxo);
                    color: var(--cor-rosa);
                }
#redes-sociais{
    display: none;
}
/*____________________________________________*/
/* SECTION SOBRE (MOBILE)*/
#sobre{
    width: 90%;
    margin: 0 auto;
}
        h2{
            font-size: var(--fonte-tamanho-mobile-grande2);
            color: var(--cor-roxo);
            text-align: center;
            text-transform: uppercase;
            margin: .5rem 0;
        }
        #sobre .sublinhado{
            width: 70%;
            margin: .5rem auto;
        } 
            .principio p{
                text-align: justify;
                text-indent: 2rem;
                font-size: var(--fonte-tamanho-mobile-pequeno2);
            }
            .principio h3{
                font-size: var(--fonte-tamanho-mobile-grande3);
                margin: .5rem 2rem;
                color: var(--cor-verder);
            }
            .principio ol{
                border-left: 4px solid var(--cor-verder);
                background-color: var(--cor-cinza);
                padding: 1rem 1.5rem;
                margin: 1rem 0;
                list-style-type: upper-roman;
                list-style-position: inside;
                text-align: justify;
                font-size: var(--fonte-tamanho-mobile-pequeno2);
            }
            .principio ol li{
                margin: .8rem 1rem;
            }
        .image-sobre{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .5rem 0;
        }
            #procurando{
                width: 90%;
            }
/*________________________________________________*/
/*FORMATAÇÃO DA DIV E-MAIL (MOBILE) */
.newsletter-imagem{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
    .newsletter-imagem img{
        width: 100%;
    }
#e-mail{
    width: 90%;
    height: 50vh;
    margin: 1rem auto;
    border-radius: .3rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--cor-roxo);
}
    #e-mail h2{
        color: var(--cor-branco);
        letter-spacing: .15rem;
    }
    #e-mail .sublinhado{
        width: 80%;
    }
    #e-mail p{
        font-size: var(--fonte-tamanho-mobile-pequeno2);
        text-align: center;
        width: 80%;
        font-weight: 600;
        color: var(--cor-branco);
    }
    .formatacao-input{
        padding: .5rem 1rem;
        width: 80%;
        height: 3vh;
        background-color: var(--cor-cinza);
        border: none;
        border-bottom: solid var(--cor-rosa) 2px;

        transition: 
            background-color 300ms ease-in,
            color 300ms ease-in;
    }
        .formatacao-input::placeholder{
            color: var(--cor-preto);
        }
        .formatacao-input:hover::placeholder,
        .formatacao-input:focus::placeholder{
            color: var(--cor-rosa);
        }
        .formatacao-input:hover,
        .formatacao-input:focus{
            color: var(--cor-rosa);
            font-weight: 900;
        }
    input[type='submit']{
        width: 20%;
        padding: .5rem 1rem;
        border: solid var(--cor-cinza) 2px;
        border-radius: .3rem;
        color: var(--cor-rosa);
        font-weight: 900;
        background-color: transparent;
        cursor: pointer;

        transition: 
            all 300ms ease-in;
    }
    input[type='submit']:hover,
    input[type="submit"]:focus{
        background-color: var(--cor-cinza);
        text-transform: uppercase;
        letter-spacing: .05rem;
        color: var(--cor-verder);
    }
/* FORMATAÇÃO PARCEIROS (MOBILE)*/
#parceiros{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--cor-cinza);
}
    #parceiros .sublinhado{
        width: 70%;
        margin: 0 auto;
    }
    #logo-parceiros{
        width: 90%;
        padding: 1.5rem 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
            .parceiro img{
                width: 6rem;
            }
/*____________________________________*/
/*FORMATAÇÃO DA SEÇÃO CONTATO (MOBILE) */
#contato{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    #form-contato{
        width: 100%;
        background-color: var(--cor-roxo);
        border-radius: .3rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        #form-contato h2{
            color: var(--cor-branco);
            letter-spacing: .15rem;
        }
        #form-contato .sublinhado{
            width: 70%;
        }
        #form-contato .image-contato{
            width: 100%;
            margin: 1rem;
            display: flex;
            justify-content: center;
        }
            .image-contato img{
                width: 50%;
            }
        .linha-form{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 12vh;
            
        }
            label{
                color: var(--cor-branco);
                font-size: var(--fonte-tamanho-mobile-pequeno);
            }
            .linha-form input{
                width: 100%;
            }
        .comentario-form{
            width: 90%;
            height: 23vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
            textarea{
            padding: .5rem 1rem;
            background-color: var(--cor-cinza);
            border: none;
            border-bottom: solid var(--cor-rosa) 2px;
            transition: 
                background-color 300ms ease-in,
                color 300ms ease-in;
            }
            textarea:hover,
            textarea:focus{
                color: var(--cor-rosa);
                font-weight: 900;
            }
            textarea::placeholder{
                color: var(--cor-preto);
            }
            textarea:focus::placeholder,
            textarea:hover::placeholder{
                color: var(--cor-rosa);
            }
        #form-contato input[type="submit"]{
            margin: 1.2rem 0;
        }
    .mapa-info-contato{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        .mapa-info-contato iframe{
            width: 90%;
            height: 30%;
            margin: 1rem auto;
            border-radius: .3rem;
        }
        .mapa-info-contato address{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 36vh;

            width: 90%;
            margin: .5rem auto;
            text-align: center;
            font-style: normal;
        }
            address > .dado-contato{
                width: 99%;
                height: 100%;
                padding: .3rem 0;
                margin-bottom: .4rem;
                background-color: var(--cor-cinza);

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            address > .dado-contato:nth-child(2),
            address > .dado-contato:first-child{
                flex: 1 1 40px;
            }
            address > .dado-contato:last-child{
                flex-direction: column;
                justify-content: space-evenly;
            }
                .dado-contato .dado-tipo{
                    margin-left: .5rem;
                    font-size: var(--fonte-tamanho-mobile-pequeno);
                }
                .dado-atual{
                    margin-right: .5rem;
                    text-align: center;
                }
                    .dado-atual a{
                        display: flex;
                        text-decoration: none;
                        font-size: var(--fonte-tamanho-mobile-pequeno);
                        color: var(--cor-roxo);
                        font-weight: 400;
                        position: relative;
                    }
                    .dado-contato:nth-child(2) .dado-atual a .fa{
                        display: flex;
                        align-items: center;
                        font-size: var(--fonte-tamanho-mobile-pequeno);
                        margin-right: .3rem;
                    }
                    .dado-contato:nth-child(3) .dado-atual{
                        margin: 0 .8rem;
                    }

                
/*______________________________________*/
/* FOOTER - MOBILE */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--cor-roxo);
    font-weight: 900;
    height: auto;
    background-color: var(--cor-rosa);
}
    footer p{
        margin: .5rem 0;
    }
    footer .linha1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fonte-tamanho-mobile-pequeno);
        color: var(--cor-roxo);
        width: 50%;
        margin: 0 0 .5rem 0;
    }
        .linha1 a{
            color: var(--cor-roxo);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
        }
    footer .sublinhado{
        width: 30%;
        background-color: var(--cor-cinza);
        margin: .5rem 0;
    }
    footer .linha2{
        margin: 0 0 .5rem 0;
    }
        .linha2 a{
            font-size: .8rem;
            color: var(--cor-roxo);
            text-decoration: none;
            position: relative;
        }
        .linha2 .over-sublinha::after{
            background-color: var(--cor-roxo);
        }
/*__________________________________________*/
/* FORMATAÇÃO DA VERSÃO DESKTOP */  
@media (min-width: 700px){
/* MENU (DESKTOP) */
    #menu{
        position: fixed;
        top: -70px;
        z-index: 1000;
        width: 100%;

        transition: top 300ms ease-in;
    }
        #menu #menu-navegacao{
            height: 12vh;
            width: 100%;
            background: var(--cor-cinza);
        }
            #menu-navegacao #menu-logo{
                width: 15rem;
            }
            #menu-navegacao #menu-links{
                flex-direction: row;
                width: 100%;
                height: 100%;
                justify-content: space-evenly;
                background-color: transparent;
                position: initial;
                padding-top: initial;
            }
                #menu-links a{
                    top: 0;
                    line-height: 12vh;
                    font-weight: 900;
                    font-size: var(--fonte-tamanho-desktop-menu);
                    color: var(--cor-roxo);

                    transition: 
                        background-color 300ms ease-in,
                        color 300ms ease-in;
                }
                #menu-links a:hover{
                    background-color: var(--cor-roxo);
                    color: var(--cor-rosa);
                }
            #menu-navegacao #menu-barras-mobile{
                display: none;
            }
/*________________________________________________*/
/* DISCORVERY SECTION (DESKTOP)*/
    #discovery{
        height: 94vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: url(img-main/call-to-action/tec-logic.svg);
        background-repeat: no-repeat;
        background-position-x: 70%;
        background-position-y: 100%;
        background-size: 35rem;

    }
        #discovery .image-explan{
            display: none;
        }
        #discovery #titulo-si{
            height: auto;
        }
            #titulo-si h1{
                font-size: var(--fonte-tamanho-desktop-grande);
            }
            #titulo-si p{
                font-size: var(--fonte-tamanho-desktop-pequno);
            }
            #titulo-si .sublinhado{
                width: 25%;
            }
    #redes-sociais{
        display: flex;
        justify-content: flex-end;
        height: 30%;
        width: 40rem;
        margin-right: .4rem;
        position: relative;
        
    }
        .icones-rede{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
            .icones-rede a{
                color: var(--cor-roxo);
            }
                .icones-rede i{
                    font-size: var(--fonte-tamanho-desktop-grande);
                    color: var(--cor-roxo);
                    text-align: center;
                    
                }
                    .icones-rede .fa{
                        font-size: var(--fonte-tamanho-mobile-grande);
                    }
                    .icones-rede .fa::after{
                        right: -25rem;
                        font-size: 1.8rem;
                        font-family: var(--fonte-principal);
                        transition: right 250ms ease-in;
                        background-color: var(--cor-roxo);
                        color: var(--cor-rosa);
                        padding: .4rem .6rem;
                        border-radius: .4rem;
                        position: absolute;

                        transition: right 300ms ease-out;
                    }
                    .icones-rede .fa-github::after{
                        content: '@nimasuff';
                        top: .2rem;
                    }
                    .icones-rede .fa-github:hover::after{
                        right: 0rem;
                    }
                    .icones-rede .fa-linkedin::after{
                        content: '@nimasuff';
                        top: 3.5rem;
                    }
                    .icones-rede .fa-linkedin:hover::after{
                        right: 0rem;
                    }
                    .icones-rede .fa-envelope::after{
                        content: 'labnimas.esc@id.uff.br';
                        top: 6.9rem;
                    }
                    .icones-rede .fa-envelope:hover::after{
                        right: 0rem;
                    }
/*___________________________________________________________*/
/* SECTION SOBRE (DESKTOP)*/
    #procurando{
        height: 70vh;
    }
/*_______________________________________________________*/
/* SECTION NEWSLETTER (DESKTOP) */
#newsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
    .newsletter-imagem{
        width: 40%;
    }
    #e-mail{
        width: 40%;
    }
        #e-mail p{
            font-size: var(--fonte-tamanho-desktop-pequno);
        }
        .newsletter-imagem img{
            height: 70vh;
        }
/*_____________________________________*/
/* SEÇÃO PARCEIROS DESKTOP */
#parceiros .sublinhado,
#sobre .sublinhado {
    width: 30%;
    margin: .5rem auto;
}
/*______________________*/
/* SEÇÃO CONTATO - DESKTOP*/
#contato{
    flex-direction: row;
}
    #form-contato{
        width: 40%;
    }
        label{
            font-size: var(--fonte-tamanho-desktop-pequno);
        }
    .mapa-info-contato{
        width: 50%;
        justify-content: space-between;
    }
        .mapa-info-contato iframe{
            margin: 0;
            height: 50%;
        }
        .mapa-info-contato address{
            height: 45%;
        }
            address > .dado-contato{
                width: 65%;
                padding: .5rem;
                font-size: var(--fonte-tamanho-desktop-pequno);
            }
            .dado-atual a{
                font-size: var(--fonte-tamanho-desktop-pequno);
            }
            .dado-contato .dado-tipo{
                font-size: var(--fonte-tamanho-desktop-pequno);
            }
/*_______________________________*/
/* FOOTER DESKTOP */
footer{
    height: auto;
}
    footer .linha1{
        width: 15%;
    }
    .linha2 a{
        font-size: .8rem;
    }
    footer .sublinhado{
        width: 5%;
    }
}

