:root{
    --cor-preto: #000;
    --cor-roxo: rgba(47,46,65,1);
    --cor-verder: rgba(110, 140, 2, 1); /*#6E8C02*/
    --cor-rosa: rgba(255,101,132,1);
    --cor-amarelo: #F2D543;
    --cor-cinza: rgba(242, 242, 242,1);
    --cor-branco: #fff;

    --fonte-principal: 'Open Sans', sans-serif;

    --fonte-tamanho-desktop-grande: calc(2vw + 1rem);
    --fonte-tamanho-desktop-pequno: calc(1vw + .5rem);
    --fonte-tamanho-desktop-menu: calc(.5vw + .5rem);

    --fonte-tamanho-mobile-nome-projeto: calc(1vw + .8rem);
    --fonte-tamanho-mobile-descricao-projeto: calc(1vw + .7rem);
    --fonte-tamanho-mobile-dados: calc(1vw + .6rem);

    --fonte-tamanho-desktop-nome-projeto: calc(.9vw + .3rem);
    --fonte-tamanho-desktop-descricao-projeto: calc(.8vw + .2rem);
    --fonte-tamanho-desktop-dados-projeto: calc(.7vw + .2rem);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}
/* FORMATAÇÃO DA SEÇÃO PROJETOS (MOBILE) */
    #secao-projetos{
        display: flex;
        flex-direction: column;
    }
        .titulo-projetos{
            display: flex;
            flex-direction: column;
        }
            .titulo-projetos .sublinhado{
                width: 70%;
                height: 2.5px;
                margin: 0 auto;
            }
        .btn-filtro{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 1rem auto 0 auto;
        }
            .botao-filtro{
                padding: .3rem 1rem;
                font-size: var(--fonte-tamanho-mobile-descricao-projeto-projeto);
                font-weight: 900;
                background-color: transparent;
                border-radius: .2rem;
                border: solid var(--cor-roxo) 2px;
                cursor: pointer;
                transition: 
                    background-color 250ms ease,
                    color 300ms ease;
            }
            .botao-filtro:hover,
            .botao-filtro:focus{
                background-color: var(--cor-roxo);
                color: var(--cor-rosa);
            }
        #projetos-nimas{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 1rem auto 0 auto;
            width: 100%;
        }
            #projetos-nimas .projeto{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 auto;
                width: 90%;
                background-color: var(--cor-cinza);
                color: var(--cor-branco);
                border-radius: .3rem;
                margin-bottom: 1.5rem;
            }
            .finalizado{
                border: solid var(--cor-roxo) 2px;
            }
            .em-andamento{
                border: solid var(--cor-rosa) 2px;
            }
                .imagem-projeto{
                    width: 80%;
                    height: 30%;
                    margin: 1rem 0;
                }
                .conteudo-projeto{
                    width: 95%;
                    height: 100%;
                    padding: .6rem .3rem;
                    color: var(--cor-roxo);
                    border-radius: .3rem;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }
                    .nome-projeto{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        font-size: var(--fonte-tamanho-mobile-nome-projeto);
                        text-transform: uppercase;
                        padding: 0;
                        width: 98%;
                    }
                        .nome-projeto .sublinhado{
                            width: 100%;
                            margin-bottom: 1rem;
                        }
                    .descricao-projeto{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 98%;
                        height: 100%;
                        font-weight: 900;
                    }
                        .descricao-projeto p{
                            font-size: var(--fonte-tamanho-mobile-descricao-projeto);
                            margin-bottom: 1rem;
                        }
                        .dados-projeto{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            width: 100%;
                            border-left: 4px var(--cor-rosa) solid;
                            background-color: var(--cor-roxo);
                            border-radius: .2rem;
                        }
                            .dados-projeto .dado{
                                display: flex;
                                justify-content: space-between;
                                color: var(--cor-branco);
                                width: 90%;
                                margin: .5rem 0;
                                padding: .2rem 0;
                                border-bottom: 1px solid var(--cor-cinza);
                            }
                                .dados-projeto span:last-child{
                                    font-size: var(--fonte-tamanho-mobile-dados);
                                    text-align: right;
                                    width: 58%;
                                }
                                .dados-projeto span:first-child{
                                    width: 42%;
                                    font-size: var(--fonte-tamanho-mobile-dados);
                                }
/*_________________FIM_________________________________________*/
@media (min-width: 700px){
    #secao-projetos{
        margin-top: 4.5rem;
    }
            .titulo-projetos .sublinhado{
                width: 30%;
            }
        #projetos-nimas{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 60%;
            margin: 1.5rem auto 0rem auto;
        }
        .btn-filtro{
            justify-content: center;
        }
            .botao-filtro{
                margin-right: 1rem;
            }
            .botao-filtro:last-child{
                margin-right: 0;
            }
        #projetos-nimas .projeto{
            width: 48%;
            height: 100%;
            flex: none;
        }
            .imagem-projeto{
                width: 50%;
                height: 100%;
            }
            .conteudo-projeto{
                width: 100%;
                border-radius: 0;
            }
                .nome-projeto{
                    font-size: var(--fonte-tamanho-desktop-nome-projeto);
                    font-weight: 900;
                }
                .descricao-projeto p{
                    font-size: var(--fonte-tamanho-desktop-descricao-projeto);
                }
                .dados-projeto .dado{
                    width: 90%;
                }
                    .dados-projeto span:first-child,
                    .dados-projeto span:last-child{
                        font-size: var(--fonte-tamanho-desktop-dados-projeto);
                    }           
}