:root{
    --cor-preto: #000;
    --cor-verder: rgba(110, 140, 2, 1); /*#6E8C02*/
    --cor-rosa: rgba(255,101,132,1);
    --cor-roxo: rgba(47,46,65,1);
    --cor-cinza: rgba(242, 242, 242,1);
    --cor-branco: #fff;

    --fonte-principal: 'Open Sans', sans-serif;

    --fonte-tamanho-desktop-grande: calc(2vw + 1rem);
    --fonte-tamanho-desktop-pequno: calc(1vw + .5rem);
    --fonte-tamanho-desktop-menu: calc(.5vw + .5rem);

    --fonte-tamanho-mobile-grande: calc(1vw + 2rem);
    --fonte-tamanho-mobile-grande2: calc(1vw + 1.5rem);
    --fonte-tamanho-mobile-grande3: calc(1vw + 1rem);
    --fonte-tamanho-mobile-pequeno: calc(1vw + 1rem);
    --fonte-tamanho-mobile-pequeno2: calc(1vw + .8rem);
    --fonte-tamanho-mobile-menu: calc(.5vw + .7rem);

    --cor: #F2D543;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    overflow-x: hidden;
    font-family: var(--fonte-principal);
    font-size: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* SEÇÃO MEMBROS */
#membros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
/* INTRODUÇÃO DA PÁGINA (MOBILE) */ 
    #membros-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .image-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 40vh;
        }
            .image-header img{
                width: 90%;
            }
        .conteudo-header{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: auto;
            width: 100%;
    
        }
            .conteudo-header h2{
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: var(--fonte-tamanho-mobile-grande);
            }
            .conteudo-header .sublinhado{
                width: 70%;
                margin: 0 auto;
            }
            .conteudo-header p{
                display: flex;
                justify-content: flex-start;

                margin: .5rem 0;
                font-size: var(--fonte-tamanho-mobile-pequeno2);
                text-indent: 2rem;
                text-align: justify;
            }
            .conteudo-header ul li{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                font-size: var(--fonte-tamanho-mobile-pequeno2);
                line-height: 1.5rem;
                margin-left: 2rem;
                position: relative;
                width: max-content;
            }
            .conteudo-header ul li::after{
                content: '';
                width: 100%;
                height: 3.5px;
                background-color: var(--cor-primaria-escura);
                position: absolute;
                bottom: 0;
                left: 0;

                transform: scaleX(0);
                transform-origin: right;
                transition: transform 250ms ease-in;
            }
            .conteudo-header ul li:hover::after{
                transform: scaleX(1);
                transform-origin: left;
            }
/*__________FIM__________________________*/
/* FORMATAÇÃO DO CONTEUDO DA PÁGINA (MOBILE) */
#membros-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400vh;
    width: 90%;
}
    #membros-conteudo aside{
        width: 100%;
    }
        #membros-conteudo aside .image-header{
            width: 100%;
            height: 100%;
        }
    #seletores{
        width: 100%;
        height: 100%;
        margin-top: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;       
    }
        .formacao{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            height: 100%;
            margin: .5rem 0;

            position: relative;
        }
        .formacao::after{
            content: '';
            width: 20%;
            height: 1.5px;
            background-color: var(--cor-roxo);
            position: absolute;
            bottom: 0;
        }
            .formacao h3{
                font-size: var(--fonte-tamanho-mobile-pequeno);
                text-align: center;

                text-transform: uppercase;
                width: 100%;
            }
            .formacao .seletor-membro{
                display: flex;
                flex-direction: column;
                background-color: transparent;
                border-radius: .4rem;
                width: 75%;
                height: 72%;
                margin: 1.5rem 0;
                transition: 
                    box-shadow 100ms ease-in,
                    margin-top 100ms ease-in;
            }
            .seletor-membro:hover{
                box-shadow: var(--cor-roxo) .4rem .3rem .4rem;
                margin-top: 1.4rem;
            }
                .seletor-membro .foto-perfil{
                    height: 70%;
                    overflow-y: hidden;
                    background-color: var(--cor-primaria-escura);

                    border-radius: .4rem .4rem 0 0;
                }
                    .foto-perfil img{
                        width: 100%;
                        opacity: .8;
                    }
                .seletor-membro .descricao{
                    height: 30%;
                    background-color: var(--cor-roxo);
                    color: var(--cor-branco);
                    border-radius: 0 0 .4rem .4rem;
                }
                    .descricao .nome-membro{
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        font-style: italic;
                        margin: 0 5%;

                        font-size: var(--fonte-tamanho-mobile-pequeno);
                        color: var(--cor-primaria-clara);
                    }
                    .descricao .redes-sociais{
                        height: 50%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content:space-around;
                    }
                        .redes-sociais a{
                            display: flex;
                            text-decoration: none;
                            color: var(--cor-branco);
                            font-size: var(--fonte-tamanho-desktop-grande);
                            transition: color 250ms ease-in;
                        }
                        .redes-sociais a:last-child{
                            font-weight: 900;
                            letter-spacing: .15rem;
                        }
                        .redes-sociais a:hover,
                        .redes-sociais a:focus{
                            color: var(--cor-rosa);
                        }
                            .redes-sociais .icone-latte{
                                display: flex;
                                flex-direction: row;
                                width: 12%;
                            }
            .formacao .botoes-selecao{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;     
            }
                .botoes-selecao button{
                    background-color: transparent;
                    border: none;
                }
                    .botoes-selecao i{
                        font-size: var(--fonte-tamanho-mobile-grande);
                        color: var(--cor-rosa);
                        cursor: pointer;
                        transition: color 100ms ease-in;
                    }
                    .botoes-selecao i:hover,
                    .botoes-selecao i:focus{
                        color: var(--cor-roxo);
                    }
/*______________FIM__________________*/
/* FORMATAÇÃO DA VERSÃO DESKTOP */
@media (min-width: 800px){
*{
    overflow-y: hidden;
}
html{
    overflow-y: visible;
}
/* FORMATAÇÃO SEÇÃO INTRO (DESKTOP) */
    #membros {
        width: 98%;
        margin-top: 6rem;
    }
        #membros-intro{
            flex-direction: row;
        }
        #membros-intro .sublinhado{
            width: 30%;
        }
            .conteudo-header ul li{
                line-height: 2.5rem;
            }
            .image-header{
                width: 60%;
                height: 70vh;
            }
                .image-header img{
                    width: 90%;
                }
/*__________________FIM_____________________*/
/* FORMATAÇÃO CONTEUDO (DESKTOP) */
main aside{
    display: none;
}
#membros-conteudo{
    height: 200vh;
    margin: 1rem 0;
}
    #seletores{
        flex-direction: row;
        flex-wrap: wrap;
    }
        .formacao{
            width: 30%;
            height: 48%;
        }
        .formacao h3{
            height: 5rem;
        }
        .formacao .seletor-membro{
            height: 60%;
        }
        .descricao .nome-membro{
            text-align: center;

            font-size: var(--fonte-tamanho-desktop-pequno);
        }
            .descricao .redes-sociais a{
                font-size: var(--fonte-tamanho-desktop-pequno);
            }
/*______________________FIM_________________________________________*/
}